<!doctype html>
<html>
  <head>
    <link rel="icon" href="/assets/site_icon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>SubMana <3</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.scss">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>SubMana's Blog</h1>
        <a href="/"><img src="/assets/large_icon.png"></a>
        <p>Check the links down below for some cool stuff yo</p>
          <li><a href="/tutorials.html">Tutorials</a></li>
          <br><br>
          <li><a href="/blog.html">Blog</a></li>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </body>
</html>
